body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 30px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.controller {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-left: 30px;
}

table {
  width: 100%;
  display: block;
}

table thead td {
  background-color: lightslategrey;
}
table tr td {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #bdb9a6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.use {
  max-width: 600px;
  margin: 0 auto;
}
.use h3 {
  color: #fff;
}
pre {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #646464;
  text-align: left;
  font-size: 18px;
  padding: 10px 10px 10px 30px;
}